# Default ignored files
/../../seo_courses /.idea/shelf/
/../../seo_courses /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../seo_courses /.idea/httpRequests/
# Datasource local storage ignored files
/../../seo_courses /.idea/dataSources/
/../../seo_courses /.idea/dataSources.local.xml
